#budget-submit{
    background-color: aqua;
}
#expense-submit{
    background-color: aqua;
}
#budget-section{
    border: 1px solid gainsboro;
    border-radius: 12px;
}
#expense-form{
    float: left;
}